@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');


h1 {
  color:#F4CE14;
  font-family: "Markazi Text", serif;
  font-weight: bold;
  font-size: 8vh;
}

h2 {
  color: white;
  font-family: "Markazi Text", serif;
  font-weight: bold;
  font-size: 5vh;
}

h3 {
  color: white;
  font-weight: bold;
  font-size: 2vh;
}

body {
  font-family: "Karla", sans-serif;
}

.nav-link:hover {
  color: #F4CE14;
}

.cropped-image {
  width: 20%;
  height: 100px;
  object-fit: cover;
  object-position: left 100%;
  margin-left: 10%;
}

.submitBttn {
  background-color:#F4CE14;
  padding: 20px;
  margin: 20px;
  margin-top: 40px;
  width: 50%;
  font-weight: bold;
  border-radius: 10px;
}

.submitBttn:hover {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
